/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
html.theme-dark {
--bg-image-page: url(../images/cover-image-dark.png);
--bg-color-page: #000028;
--bg-color-accent: #FF0070;
--color-intro-title: #DB00FF;
--color-intro-shadow: #FF0070;
--color-decor-zone: #FF0070;
--color-accent: #000028;
--color-default: #F1B2CE;
--color-only-dark: #FF0070;
}


