/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
html.theme-dark {
--bg-image-page: url(../images/cover-image-dark.png);
--bg-color-page: #000028;
}

html.theme-light {
--bg-image-page: url(../images/cover-image-light.png);
--bg-color-page: #FFC2E6;
}